<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<h1>Hello, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'My Blog', controller: 'articles' %>

